.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* :root{
  --rpt__text-color: rgb(0, 0, 0);
  --rpt__background-color: rgb(255, 0, 157);
} */
html {
  background-color: rgb(227, 229, 228);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

/* Table style override */
.rpt__body {
  border-radius: 6px;
}
.rpt__column {
  padding: 10px 8px;
}


