/* Table Column section */
.rpt__column {
  display: table-cell;
  padding: 5px;
}
.rpt__column .sortable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
