/* table Export section */

.rpt__export-dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.rpt__export-dropdown-button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.rpt__export-buttons-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  max-height: fit-content;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.rpt__export-dropdown-wrapper:focus-within .rpt__export-buttons-wrapper {
  opacity: 1;
  visibility: visible;
}
.rpt__export-buttons-wrapper button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  padding: 5px 7px;
}
.rpt__export-buttons-wrapper button:hover,
.rpt__export-dropdown-button:hover {
  backdrop-filter: brightness(0.93);
}

.rpt__export-dropdown-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--rpt__theme-color);
  transition: all 0.3s ease-in-out;
  color: aliceblue;
}
