@import "./some-common-classes.css";
@import "./context-menu-styles.css";
@import "./row-styles.css";
@import "./column-styles.css";
@import "./export-styles.css";
@import "./table-top-styles.css";
@import "./table-bottom-styles.css";

* {
  box-sizing: border-box;
}
/* Table Wrapper */
.rpt__body {
  width: 100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rpt__wrpper {
  width: 100%;
}
.rpt__wrpper.rpt__responsive {
  max-width: 100vw;
  overflow-x: auto;
  /* padding: 20px; */
}

.rpt__table {
  display: table;
  width: 100%;
  border: 1px solid #ddd;
}

/* Table Header */
.rpt__header {
  font-weight: bold;
}
/* Table checkbox section */
.rpt__checkbox {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 1px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #747474;
}
.rpt__checkbox.checked {
  border: 1px solid transparent;
  transform: rotate(405deg);
}

.rpt__checkbox::before,
.rpt__checkbox::after {
  content: "";
  position: absolute;
  right: 0;
  background-color: #747474;
  transition: all 0.3s ease-in-out;
}
.rpt__checkbox.checked::before {
  bottom: 0;
  width: 50%;
  height: 2px;
}
.rpt__checkbox.checked::after {
  top: 0;
  height: 100%;
  width: 2px;
}
